
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {font-family: 'Oswald', sans-serif;}

html {
    height: 100%; 
}

body {
    height: 100%;
    margin: 0px;
}
header {
    margin: 0;
    width: 100%;
    background-image: url('img/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    background-position: center;
    display:flex;
    flex-direction: column; 
    justify-content:center;
    align-items: center;


} 
h1 {
    color: white;
    text-transform: uppercase; 
    font-size: 60px;
    letter-spacing: 3px; 
    background-color: rgba(50, 50, 100, 0.5); 
    border: solid 1px;
    padding: 10px;
    transition: background-color 0.3s;
    text-align: center;

}
h1:hover {
    background-color:rgb(187, 185, 185);
}
section {
    min-height: 100%;
    background-color: rgba(249, 249, 255, 0.993);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    flex-direction: row;
    display: flex; 
    align-content: center; 
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

article{
    width: 25%;
    border-style: double; 
    border-width: 5px;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    transition: background-color 0.3s;
    position: relative;
    filter: grayscale(0);
    overflow:hidden;
}

.bg-img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;

    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    z-index:-1;
    filter: grayscale(1);
    transition : all 0,3s ease-in-out;
}

article:hover .bg-img {
    filter: grayscale(0);
    transform: scale(1.5);
}
article:hover {
    background-color:rgb(187, 185, 185);
    filter: grayscale(0);
    transition: all 0.3s;

}

h2{
    color: rgba(250, 0, 0, 0.5);

}
header path {
    fill: transparent;
    stroke:black;
}
/*Images of articles*/
#manger {background-image: url('img/manger.jpg');}
#boire {background-image: url('img/boire.jpg')}
#dormir {background-image: url('img/dormir.jpg')}
#plante {background-image: url('img/plante.jpg')}
#jeux {background-image: url('img/jeux.jpg')}
#animaux {background-image: url('img/animaux.jpg')}




/*For Mobiles Only*/
@media only screen and (max-width:600px) {
 section {
     flex-direction: column; 
 }
 article {
     width : 80%; 
 }
h1 {
    width : 80%;
}
}
/*For Tablets Only*/
@media only screen and (min-width: 600px) and (max-width:900px) { 
section { justify-content: flex-start;

}
article {
    width: 30%;
}
}

/*For Desktop Only*/
@media only screen and (min-vidth:900px) {

}