.header {
    justify-content:flex-start;    
}


main {
    margin-left:250px;
    height: 100vh;
}
image{
    height: 100%;

}
.center {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

section {
    min-height: 100vh;
    background-image: url(img/water.jpg);
    width: 100%; 
    background-size: cover;
}
